  @media (orientation: landscape) {

    #start {
        font-size: 30px;
    }

    .simon-points p {
        font-size: 20px;
    }

    .simonButton {
        width: 110px;
        height: 110px;
    }

    .redBtn {
        margin-right: 55px;
    }

    .yellowBtn {
        margin-left: 55px;
    }

    .container-simon {
        padding: 1.5em;
        margin-bottom: 4em;
    }

    .cont p {
        font-size: 36px;
    }

    #counter{
        font-size: 21px;
    }

    .announce button {
        font-size: 28px;
    }

    #announce-simon p {
        font-size: 31px;
    }

  }